## Linear Regression, Ridge, Lasso - Boston House Price Prediction

In [1]:
from sklearn.datasets import load_boston

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = load_boston()

In [4]:
ds = pd.DataFrame(df.data)
ds.columns = df.feature_names
ds.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
ds['Price'] = df.target
ds.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
## Dividing dataset into independent and dependent features 
X = ds.iloc[:,:-1] ## independent features
y = ds.iloc[:,-1] ## dependent features

In [7]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: Price, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  = train_test_split(X,y,test_size=0.2, random_state=2)

In [10]:
## Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

lr = LinearRegression()
lr.fit(X_train, y_train)
mse = cross_val_score(lr,X_train,y_train, scoring = 'neg_mean_squared_error',cv=5)
print(mse)
mean_mse = np.mean(mse)
print(mean_mse)

[-29.53732476 -32.00234217 -31.63299491 -15.82852354 -13.88030058]
-24.576297192142142

In [11]:
#Ridge Regression
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV ## for hyperparameter tuning


ridge = Ridge()

params={'alpha':[1e-15,1e-10,1e-5,1e-2,0.01,1,2,3,5,10,15,20,25,30, 50,100]}

ridge_regression = GridSearchCV(ridge, params, scoring='neg_mean_squared_error',cv=10)
ridge_regression.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-05, 0.01, 0.01, 1, 2, 3, 5,
                                   10, 15, 20, 25, 30, 50, 100]},
             scoring='neg_mean_squared_error')

In [12]:
print(ridge_regression.best_params_)
print(ridge_regression.best_score_)

{'alpha': 0.01}
-24.65762529786021

In [13]:
## Lasso Regression
from sklearn.linear_model import Lasso
lasso = Lasso()
params = {'alpha':[1e-15,1e-10,1e-5,1e-2,0.01,1,2,3,5,10,15,20,25,30, 50,100]}

lasso_regression = GridSearchCV(lasso,params, scoring='neg_mean_squared_error', cv=10)
lasso_regression.fit(X_train,y_train)

C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3780.2858662976073, tolerance: 3.0678088154269973
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3503.8987681792123, tolerance: 2.8330754435261705
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3509.698940515592, tolerance: 2.95404626446281
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3775.0236866706223, tolerance: 2.935949520661157
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3867.6447917930404, tolerance: 3.156178381868132
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3693.3194150457716, tolerance: 3.098394206043956
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4099.779101479492, tolerance: 3.24239767032967
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3948.214171130252, tolerance: 3.1279159560439562
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4165.032083809876, tolerance: 3.1905606675824183
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4132.902114214357, tolerance: 3.1354192967032963
  model = cd_fast.enet_coordinate_descent(
C:\Users\ramesh.annasamudram\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4490.697996587552, tolerance: 3.416623967821782
  model = cd_fast.enet_coordinate_descent(

GridSearchCV(cv=10, estimator=Lasso(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-05, 0.01, 0.01, 1, 2, 3, 5,
                                   10, 15, 20, 25, 30, 50, 100]},
             scoring='neg_mean_squared_error')

In [14]:
print(lasso_regression.best_params_)
print(lasso_regression.best_score_)

{'alpha': 1e-15}
-24.65770336739003

In [15]:
y_pred = lasso_regression.predict(X_test)

from sklearn.metrics import r2_score
r2score1 = r2_score(y_pred, y_test)
print(r2score1)

0.757930066048378

In [16]:
y_pred_ridge = ridge_regression.predict(X_test)

r2_ridge = r2_score(y_pred_ridge,y_test)
print(r2_ridge)

0.7578344001601076

In [17]:
y_pred_lr = lr.predict(X_test)

r2_lr = r2_score(y_pred_lr, y_test)
print(r2_lr)

0.7579300660483766